body{
    background-color : rgb(225, 243, 255);
}


h1, h3{
    color:rgb(249, 177, 172);
}



h5{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: rgb(255, 0, 0);
}
p{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}